{% extends 'blog/base.html' %}

{% block content %}
    {% for post in posts %}
        <div class="post-item">
            <h2 class="post-item-title hobbit">
                <a href="{% url 'post_detail' pk=post.pk %}">
                    {{ post.title }}
                </a>
            </h2>
            <hr/>
            <p class="post-item-publish-date">
                <small>
                    {{ post.published }}
                </small>
            </p>
            <p class="post-item-content">
                {{ post.text|linebreaks }}
            </p>
            <a class="post-item-comments-link"
               href="{% url 'post_detail' pk=post.pk %}">
                Comments: {{ post.approved_comments.count }}
            </a>
        </div>
    {% empty %}
        <div class="post-item">
            No posts found.
        </div>
    {% endfor %}
{% endblock content %}